.container {
    width: 1280px;
    margin: 0 auto;
    font-family: Arial;
}

.main-header {

}

.padding-site {
    padding: 50px;
    box-sizing: border-box;
}

.main-header-wrp {

}

.main-header-title {

}

.main-header-list {

}

.main-header-item {

}

.main-header-photo {

}