.container {
    width: 1280px;
    margin: 0 auto;
    font-family: Arial;
}

.main-header {
    width: 100%;
    background-color: #445162;
    color: #ffffff;
}

.main-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.padding-site {
    padding: 50px;
    box-sizing: border-box;
}

.main-header-wrp {
    margin: 0;
    padding: 0;
    float: left;
}

.main-header-title {
    display: block;
    margin: 0 0 10px 0;
    font-size: 60px;
    font-weight: 400;
    line-height: 1.2;

}

.main-header-list {
    margin: 0;
    padding: 0 0 0 35px;
    list-style-type: none;
}

.main-header-item {
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    position: relative;
}

.main-header-list li:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    /* border: 1px solid #fff; */
    position: absolute;
    top: 6px;
    left: -36px;
    background-image: url('../img/check_icon.png');
    background-size: cover;
}

.main-header-photo {
    margin: 0;
    float: right;
    width: 469px;
    height: 214px;
    background-color: white;
}

.main-content {
    width: 100%;
    margin: 0;
    padding: 0;
}

.first-section {
    width: 100%;
    color: #445161;
    background-color: #ffffff;
}

.first-section:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.first-section-wrp {
    width: 649px;
    margin: 0;
    padding: 0;
    float: left;
}

.first-section-title {
    margin: 0 0 30px 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;

}

.first-section-text {
    margin: 0 0 20px 0;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.first-section-text:last-child {
    margin: 0;
    }

.first-section-video {
    width: 430px;
    height: 245px;
    background-color: #445162;
    float: right;
}

.second-section {
    width: 100%;
    background-color: #f5f5f5;
}

.second-section-title {
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #445161;
}

.second-section-wrp {
    margin: 0;
    padding: 0;
}

.second-section-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.second-section-list:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.second-section-item {
    display: block;
    float: left;
    width: 46%;
    margin: 0 0 35px 40px;
    position: relative;
}

.second-section-list li:nth-last-of-type(-n+2) {
    margin-bottom: 0;
}


.second-section-list li:before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    /* border: 1px solid #fff; */
    position: absolute;
    top: 2px;
    left: -41px;
    background-image: url('../img/plus.png');
    background-size: cover;
}

.third-section {
    width: 100%;
    background-color: #ffffff;

}

.third-section-title {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #445161;
    margin: 0 0 34px 0;
}

.third-section-wrp:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.third-section-wrp figure:nth-last-of-type(-n+2) {
    margin-bottom: 0;
}

.third-section-figure {
    display: block;
    float: left;
    width: 50%;
    margin: 0 0 30px 0px;

}

.third-section-fim-img {
    display: block;
    width: 200px;
    height: 150px;
    background-color: #445161;
    float: left;
    margin: 0 10px 0 0;
}

.third-section-figcaption {
    margin: 0;

}

.third-section-fig-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: #445161;
    margin: 0 0 15px 0;
}

.third-section-fig-text {
    margin: 0;
}